# Instalando a biblioteca Selenium

In [1]:
# !pip install selenium

# Importando a biblioteca Selenium

In [2]:
from selenium import webdriver

In [3]:
nav = webdriver.Chrome()

# Importando a planilha excel

In [4]:
import pandas as pd

In [5]:
tabela = pd.read_excel('commodities.xlsx')
tabela

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

# Buscando cotações na Web

In [6]:
for linha in tabela.index:
    produto = tabela.loc[linha, 'Produto']
    produto = produto.replace('ã', 'a').replace('á', 'a').replace('ó', 'o').replace('ú', 'u').replace('é', 'e').replace('ç', 'c')
    link = f"https://www.melhorcambio.com/{produto.lower()}-hoje"
    nav.get(link)
    preco = nav.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace('.', '').replace(',', '.')
    tabela.loc[linha, 'Preço Atual'] = float(preco)
display(tabela)

Milho
Soja
Boi
Petroleo
Algodao
Acucar
Cafe
Ouro
Trigo
Tilapia

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        85.49      NaN
1      Soja       163.59       162.64      NaN
2       Boi       282.20       276.05      NaN
3  Petróleo       424.37       386.33      NaN
4   Algodão       497.76       498.88      NaN
5    Açúcar       136.23       134.64      NaN
6      Café      1092.87      1087.87      NaN
7      Ouro       321.77       327.39      NaN
8     Trigo      1549.11      1546.08      NaN
9   Tilápia         9.05         9.05      NaN

In [25]:
tabela['Comprar'] = tabela['Preço Atual'] < tabela['Preço Ideal']
dicionario = {True: 'Comprar', False: 'Não comprar'}
tabela.Comprar = tabela.Comprar.map(dicionario)
tabela

    Produto  Preço Ideal  Preço Atual      Comprar
0     Milho        85.32        85.49  Não comprar
1      Soja       163.59       162.64      Comprar
2       Boi       282.20       276.05      Comprar
3  Petróleo       424.37       386.33      Comprar
4   Algodão       497.76       498.88  Não comprar
5    Açúcar       136.23       134.64      Comprar
6      Café      1092.87      1087.87      Comprar
7      Ouro       321.77       327.39  Não comprar
8     Trigo      1549.11      1546.08      Comprar
9   Tilápia         9.05         9.05  Não comprar

# Exportando para excel

In [8]:
tabela.to_excel('commodities_atualizado.xlsx', index=False)